.barra-progresso__wrapper{
    background-color: #908EA6;
    border-radius: 1px;
    height: 6.25px;
    overflow: hidden;
    position: relative;
    width: 236px;
}

.barra-progresso{
    background-color: #EAEAEA;
    height: inherit;
    position: absolute;
    width: inherit;
}

.progresso-numero{
    color: #FFF;
    font-size: .4rem;
    margin: 0;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
}
