@import url('https://fonts.googleapis.com/css?family=Familjen+Grotesk:400');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Familjen Grotesk', sans-serif;
}

.header {
  display: flex;
  justify-content: space-around;
  background: #FDFCFF;
  backdrop-filter: blur(37.5px);
  align-items: center;
  width: 100vw;
  height: 128px;
}

.header-navbar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 677px;
  height: 33px;
}


a, a:link, a:visited, a:hover {
  text-decoration: none;
}

.header-navbar-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000000;
  padding: 0px;
  height: 24px;
}

.img-discord{
  width: 32px;
  height: 24px;
  margin-right: 10px;
}

.texto-comunidade {
  margin-bottom: 0;
}

.greetings {
  display: flex;
  align-items: center;
  /* justify-content: center;
  width: 116px;
  height: 24px; */

/* H3 */

  font-style: normal;
  font-weight: 400;
  font-size: var(--fonteTitulo5);
  line-height: 24px;

/* identical to box height, or 77% */
  color: #000000;
}

/* Transição até o IPad */
@media (max-width: 1440px) {
 
}

@media (max-width: 960px) {
 
}

/* Tamanho IPad */
@media screen and (max-width: 744px) {
  .header {
    width: 100%;
    font-size: 16px;
  }
  .header-navbar {
    width: 272px;
    height: 24px;
  }
  .img-discord{
    width: 21px;
    height: 16px;
    margin-right: 5px;
  }

  .logo {
    width: 61px;
    height: 61px;
  }

  .greetings {
    display: block;
    font-size: 20px;
    height: 24px;
  }
  
}

/* Tamanho mobile */
@media (max-width: 470px) {
  .header {
    width: 100%;
    font-size: 16px;
  }

  .logo {
    width: 41px;
    height: 41px;
  }

  .greetings {
    font-size: 12px;
  }
}