@import url("https://fonts.googleapis.com/css?family=Familjen+Grotesk:400");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Familjen Grotesk", sans-serif;
}

.header {
  display: flex;
  justify-content: space-around;
  background: #fdfcff;
  backdrop-filter: blur(37.5px);
  align-items: center;
  width: 100vw;
  height: 128px;
}

.header-navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 677px;
  height: 33px;
}

.now-openned {
  font-weight: bold;
}

a,
a:link,
a:visited,
a:hover {
  text-decoration: none;
}

.header-navbar-link {
  display: flex;
  text-decoration: none;
  color: #000000;
  padding: 0px;
}

.img-discord {
  width: 32px;
  height: 24px;
  margin-right: 10px;
}

.greetings {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: var(--fonteTitulo5);
  line-height: 24px;
  color: #000000;
}
