<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Desafios</title>
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"> -->
  <link href="https://fonts.googleapis.com/css2?family=Familjen+Grotesk&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/global.css">
  <link rel="stylesheet" href="../../models/botoes/style.css">
  <link rel="stylesheet" href="../../models/secao-header/style.css">
  <link rel="stylesheet" href="../../models/secao-texto-home/styles.css">
  <link rel="stylesheet" href="../../models/secao-footer/style.css">
  <link rel="stylesheet" href="../../models/secao-texto-pratique/style.css">
  <link rel="stylesheet" href="../../models/secao-pratique-hackathon/style.css">
</head>
<body>
  <header class="header">
    <a href="#"><img class="logo" src="/src/view/images/logo evolution.png" alt="logo da orange evolution" /></a>
    <nav class="header-navbar">  
        <a class="header-navbar-link" href="">trilhas</a>
        <a class="header-navbar-link" href="">desafios</a>
        <a class="header-navbar-link" href="">
          <img class="img-discord" src="/src/view/images/discord-icon-black.svg" alt="logo do discord"/>
            junte-se a comunidade
        </a>
    </nav>
    <div class="greetings">
      <p>Olá, Yan!</p>
    </div>   
  </header>
  <main>
    <section class="secao-titulo-hackathons">
      <div class="container-titulo">
        <h2>Pratique com desafios dos nossos hackathons passados</h2>
        <p>Escolha entre os desafios passados do Programa de Formação da FCamara e resolva as problemáticas para colocar em prática os seus aprendizados.</p>
      </div>
    </section>
    <section class="secao-hackathons">
      <ul class="lista-hackathon">
        <li class="card-hackathon">
          <img src="../../view/images/pf-2022-03.png" alt="Programa de Formação 2022, terceira edição" class="imagem-hackathon">
          <div class="wrapper-info-hackathon">
            <div class="wrapper-titulo-hackathon">
              <h3>Plataforma de Mentorias</h3>
              <p>Desafio do Programa de Formação realizado em 2022.</p>
            </div>
            <p class="descricao-hackathon">Desenvolva um plataforma onde profissionais de diferentes área podem se cadastrar para oferecer ou buscar mentorias.</p>
            <div class="wrapper-botao">
              <a href="#" role="button" class="botao botao-contorno botao-hackathon">Explorar projetos</a>
              <a href="#" role="button" class="botao botao-primario botao-hackathon">Ver desafio</a>
            </div>
          </div>
        </li>
        <li class="card-hackathon">
          <img src="../../view/images/pf-2021-02.png" alt="Programa de Formação 2022, terceira edição" class="imagem-hackathon">
          <div class="wrapper-info-hackathon">
            <div class="wrapper-titulo-hackathon">
              <h3>Plataforma de Mentorias</h3>
              <p>Desafio do Programa de Formação realizado em 2022.</p>
            </div>
            <p class="descricao-hackathon">Desenvolva um plataforma onde profissionais de diferentes área podem se cadastrar para oferecer ou buscar mentorias.</p>
            <div class="wrapper-botao">
              <a href="#" role="button" class="botao botao-contorno botao-hackathon">Explorar projetos</a>
              <a href="#" role="button" class="botao botao-primario botao-hackathon">Ver desafio</a>
            </div>
          </div>
        </li>
        <li class="card-hackathon">
          <img src="../../view/images/pf-2021-01.png" alt="Programa de Formação 2022, terceira edição" class="imagem-hackathon">
          <div class="wrapper-info-hackathon">
            <div class="wrapper-titulo-hackathon">
              <h3>Plataforma de Mentorias</h3>
              <p>Desafio do Programa de Formação realizado em 2022.</p>
            </div>
            <p class="descricao-hackathon">Desenvolva um plataforma onde profissionais de diferentes área podem se cadastrar para oferecer ou buscar mentorias.</p>
            <div class="wrapper-botao">
              <a href="#" role="button" class="botao botao-contorno botao-hackathon">Explorar projetos</a>
              <a href="#" role="button" class="botao botao-primario botao-hackathon">Ver desafio</a>
            </div>
          </div>
        </li>
        <li class="card-hackathon">
          <img src="../../view/images/pf-2020-02.png" alt="Programa de Formação 2022, terceira edição" class="imagem-hackathon">
          <div class="wrapper-info-hackathon">
            <div class="wrapper-titulo-hackathon">
              <h3>Plataforma de Mentorias</h3>
              <p>Desafio do Programa de Formação realizado em 2022.</p>
            </div>
            <p class="descricao-hackathon">Desenvolva um plataforma onde profissionais de diferentes área podem se cadastrar para oferecer ou buscar mentorias.</p>
            <div class="wrapper-botao">
              <a href="#" role="button" class="botao botao-contorno botao-hackathon">Explorar projetos</a>
              <a href="#" role="button" class="botao botao-primario botao-hackathon">Ver desafio</a>
            </div>
          </div>
        </li>
        <li class="card-hackathon">
          <img src="../../view/images/pf-2020-01.png" alt="Programa de Formação 2022, terceira edição" class="imagem-hackathon">
          <div class="wrapper-info-hackathon">
            <div class="wrapper-titulo-hackathon">
              <h3>Plataforma de Mentorias</h3>
              <p>Desafio do Programa de Formação realizado em 2022.</p>
            </div>
            <p class="descricao-hackathon">Desenvolva um plataforma onde profissionais de diferentes área podem se cadastrar para oferecer ou buscar mentorias.</p>
            <div class="wrapper-botao">
              <a href="#" role="button" class="botao botao-contorno botao-hackathon">Explorar projetos</a>
              <a href="#" role="button" class="botao botao-primario botao-hackathon">Ver desafio</a>
            </div>
          </div>
        </li>
      </ul>
    </section>
    <hr />
    <section class="secao-programa-formacao">
      <div class="container-texto">  
      <h2>Programa de Formação da FCamara</h2>
        <p>Uma iniciativa do Grupo FCamara para contratar você que está iniciando a sua carreira na tecnologia, confira quando será a próxima edição.</p>
      </div>
      <a href="#" role="button" class="botao botao-secundario">Saiba mais</a>
    </section>
    <hr />
    <section class="secao-final-home text-center">
      <h2>Junte-se a nossa <br class="br desabilitado" />comunidade no Discord</h2>
      <p>
        A comunidade da Orange Juice é feita para e por você,<br />
        que está começando ou migrando para a área de tecnologia.
      </p>
      <div class="discord-container">
        <div class="discord-container-section">
          <img src="../../view/images/duvidas-icon.svg" alt="ícone de duvidas" />
          <div class="discord-container-texto">
            Tire dúvidas<br />
            da trilha
          </div>
        </div>
        <div class="discord-container-section">
          <img src="../../view/images/conexoes-icon.svg" alt="ícone de conexões" />
          <div class="discord-container-texto">Faça <br />conexões</div>
        </div>
        <div class="discord-container-section">
          <img src="../../view/images/desenvolva-icon.svg" alt="ícone de projetos" />
          <div class="discord-container-texto">Desenvolva <br />projetos</div>
        </div>
      </div>
      <a href="#" role="button" class="botao botao-discord">Acesse o Discord</a>

      <a href="" class="btn-up-top">
        <img
          src="../../view/images/subir-up-página.svg"
          alt="Ícone de flecha para voltar ao topo da página"
        />
      </a>
    </section>
    <hr />
  </main>
  <footer class="footer">
    <div class="container-footer">
      <div class="footer-text">
        <p>Orange Juice Evolution</p>
        <p>&copy; 2022 FCamara Formacao e Consultoria</p>
      </div>
      <div class="nav-footer">
        <a href="https://www.linkedin.com/company/orangejuicetech/"><img src="/src/view/images/linkedin-icon.svg" alt="Ícone do LinkedIn"></a>
        <a href="https://www.twitch.tv/orangejuice_tech"><img src="/src/view/images/twitch-icon.svg" alt="Ícone do Twitter"></a>
        <a href="https://www.youtube.com/c/OrangeJuicefc"><img src="/src/view/images/youtube-icon.svg" alt="Ícone do YouTube"></a>         
      </div>
    </div>
  </footer>
  <script src="script.js"></script>
</body>
</html>
