@import url(../../../src/view/css/global.css);

.secao-titulo-trilha{
  background: url(../../../src/models/secao-titulo-trilha-qa/images/qa-fundo.png);
  background-size: cover;
  box-sizing: border-box;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(12, 1fr);
  margin: 0 auto;
  padding: 0 70px;
}

.container-central{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  grid-column-start: 3;
  grid-column-end: 12;
  margin: 136px 0 56px 0;
}

.titulo-trilha{
  box-sizing: border-box;
  font-family: var(--fonteFamilyTitulo);
  font-size: 62px;
  margin-bottom: 24px;
}

.card-info-texto-trilha{
  box-sizing: border-box;
  font-family: var(--fonteFamilyTexto);
  font-size: 20px;
  margin-bottom: 40px;
}

.barra-progresso-wrapper{
  box-sizing: border-box;
  flex-basis: 12px;
  margin-bottom: 24px;
  overflow: hidden;
  position: relative;
  width: 252px;
}

.barra-progresso{
  background-color: #99989B;
  height: inherit;
  position: absolute;
  height: 12px;
  transform: translateX(-100%);
  width: 100%;
}

.barra-progresso-wrapper-fs{
  background-color: #29B6F6;
}

.barra-progresso-wrapper-ux{
  background-color: #FD733C;
}

.barra-progresso-wrapper-qa{
  background-color: #C9BC1F;
}

.progresso-numero{
  box-sizing: border-box;
  color: #FFFFFF;
  font-family: var(--fonteFamilyTexto);
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  margin: 0;
  transform: translateX(22px);
}

.descricao-trilha{
  box-sizing: border-box;
  font-family: var(--fonteFamilyTexto);
  font-size: 22px;
  margin-bottom: 56px;
  max-width: 752px;
}

.lista-tipo-conteudo{
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;
  padding: 0;
}

.lista-tipo-conteudo li{
  align-items: center;
  border-left: 1px solid #000000;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: var(--fonteFamilyTexto);
  font-size: 20px;
  gap: 8px;
  line-height: 24px;
  list-style: none;
  transform: translateX(-20%);
  flex-basis: 160px;
}

.lista-tipo-conteudo li:first-child{
  border: none;
}

.lista-tipo-conteudo li span{
  display: flex;
  height: 30px;
  width: 30px;
}

.lista-tipo-conteudo li p{
  font-size: 20px;
  margin: 0;
}

.icone-artigos{
  content: url(../../../src/models/secao-titulo-trilha-qa/images/artigos.svg);
}

.icone-cursos{
  content: url(../../../src/models/secao-titulo-trilha-qa/images/cursos.png);
}

.icone-glossarios{
  content: url(../../../src/models/secao-titulo-trilha-qa/images/glossarios.png);
}

.icone-videos{
  content: url(../../../src/models/secao-titulo-trilha-qa/images/videos.svg);
}

.icone-livros{
  content: url(../../../src/models/secao-titulo-trilha-qa/images/livros.png);
}

.icone-podcasts{
  content: url(../../../src/models/secao-titulo-trilha-qa/images/podcast.png);
}

@media (max-width: 1024px){
  .secao-titulo-trilha{
    padding: 0 48px;
  }

  .container-central{
    grid-column-start: 2;
    grid-column-end: 12;
  }
}

@media (max-width: 744px){
  .secao-titulo-trilha{
    gap: 20px;
    grid-template-columns: repeat(8, 1fr);
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 70px;
  
  }

  .container-central{
    grid-column-start: 1;
    grid-column-end: 9;
  }

  .titulo-trilha{
    margin-bottom: 16px;
  }

  .card-info-texto-trilha{
    margin-bottom: 36px;
  }

  .descricao-trilha{
    font-size: 18px;
    margin-bottom: 72px;
  }

  .lista-tipo-conteudo{
    margin-bottom: 46px;
  }

  .lista-tipo-conteudo li span{
    height: 20px;
    width: 20px;
  }

  .lista-tipo-conteudo li p{
    font-size: 16px;
  }
}

@media (max-width: 558px){
  .secao-titulo-trilha{
    padding: 0 24px;
  }

  .container-central{
    grid-column-start: 1;
    grid-column-end: 10;
  }
}

@media (max-width: 430px){
  .secao-titulo-trilha{
    grid-template-columns: repeat(4, 1fr);
    padding: 0 18px;
  
  }

  .container-central{
    grid-column-start: 1;
    grid-column-end: 5;
  }

  .titulo-trilha{
    font-size: 38px;
    margin-bottom: 20px;
  }

  .card-info-texto-trilha{
    font-size: 16px;
    margin-bottom: 36px;
  }

  .barra-progresso-wrapper{
    flex-basis: 8px;
    margin-bottom: 70px;
    width: 174px;
  }

  .progresso-numero{
    line-height: 8px;
  }

  .descricao-trilha{
    margin-bottom: 64px;
  }

  .lista-tipo-conteudo{
    margin-bottom: 48px;
  }

  .lista-tipo-conteudo li span{
    height: 18px;
    width: 18px;
  }

  .lista-tipo-conteudo li p{
    font-size: 12px;
  }
}