@import url('https://fonts.googleapis.com/css?family=Familjen+Grotesk:400');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Familjen Grotesk', sans-serif;
}

.header {
  display: flex;
  justify-content: space-around;
  background: #FDFCFF;
  backdrop-filter: blur(37.5px);
  align-items: center;
  width: 1440px;
  height: 128px;
}

.header-navbar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 677px;
  height: 33px;
}

a, a:link, a:visited, a:hover {
  text-decoration: none;
}

.header-navbar-link {
  text-decoration: none;
  color: #000000;
  padding: 0px;
}

.img-discord{
  width: 32px;
  height: 24px;
  margin-right: 10px;
}

.logo {
  
}

.greetings {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 116px;
  height: 24px;

/* H4 */

  font-style: normal;
  font-weight: 400;
  font-size: var(--fonteTitulo4);
  line-height: 24px;

/* identical to box height, or 77% */
  color: #000000;
}