* {
  margin: 0;
}

section h6 {
  margin-left: 2rem;
}

section ul {
  display: flex;
  margin: 4px;
}

section ul li {
  margin-right: 6rem;
  list-style: none;
  font-size: 0.9rem;
}

section {
  margin: auto;
  width: 100%;
  outline: 1px solid rgb(219, 219, 219);
  padding: 4px;
}

.modulo-inicio {
  padding: 0 !important;
}

section:hover {
  background-color: rgba(206, 206, 206, 0.205);
}

.finished {
  border: 1px solid rgba(206, 206, 206, 0.205);
  height: 16px;
}

.accordion {
  margin: 60px;
}

.accordion-item {
  margin-bottom: 16px;
  border-radius: 0 !important;
  border: none !important;
  outline: 1px solid rgba(206, 206, 206, 0.801);
}

.accordion-button {
  background-color: #E3F2FD !important;
  height: 80px !important;
}
