@import url(/src/view/css/global.css);

* {
  margin: 0;
}

section {
  margin: auto;
  width: 100%;
  border-top: 1px solid #000;
  padding: 40px 32px 24px 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section h6 {
  font-size: 22px;
  line-height: 32px;
  font-family: var(--fonteFamilyTexto);
  margin: 0 0 0 24px;
}

section ul {
  display: flex;
  justify-content: flex-start;
  margin: 4px 0;
  padding-left: 26px;
}

section ul li {
 font-family: var(--fonteFamilyTexto);
  margin-right: 8px;
  list-style: none;
  font-size: 14px;
}

.conteudo-container {
  display: flex;
}

.accordion {
  margin: 72px 180px 0 290px;
}

.modulo-inicio,
.modulo-conceitos,
.modulo-opcional {
  padding: 0 !important;
}

section:hover {
  background-color: rgba(206, 206, 206, 0.205);
}

.accordion-button {
  height: 80px !important;
  font-size: var(--fonteTitulo4) !important;
  padding-left: 24px !important;
}

.accordion-item {
  margin-bottom: 16px;
  border-radius: 0 !important;
  border: none !important;
  outline: 1px solid #000;
}

.primeiro-accordion-fs {
  background-color: #e3f2fd !important;
}
.segundo-accordion-fs {
  background-color: #d6edff !important;
}
.terceiro-accordion-fs {
  background-color: #90caf9 !important;
}
