@import url(../../../src/view/css/global.css);

.secao-titulo-hackathons{
  align-items: center;
  background-color: #FFFFFF;
  box-sizing: border-box;
  display: flex;
  height: 504px;
  justify-content: center;
  text-align: center;
  padding: 0 36px;
}

.container-titulo{  
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
  gap: 24px;
  justify-content: center;
  width: 880px;
}

.container-titulo h2{
  font-family: var(--fonteFamilyTitulo);
  font-size: 62px;
  line-height: 64px;
  margin: 0;
}

.container-titulo p{
  font-family: var(--fonteFamilyTexto);
  font-size: 20px;
  margin: 0;
}

.secao-hackathons{
  background: url(../../..//src/view/images/bg-desafios-passados.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  padding: 64px 0 80px;

}

.lista-hackathon{
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 72px;
  padding: 0;
}

.card-hackathon{
  display: flex;
  flex-basis: 264px;
  list-style: none;
  width: 1008px;
}

.imagem-hackathon{
  border-bottom-left-radius: 24px;
  border-top-left-radius: 24px;
  flex-basis: 424px;
}

.wrapper-info-hackathon{
  background-color: #FFFFFF;
  border-bottom-right-radius: 24px;
  border-top-right-radius: 24px;
  box-sizing: border-box;
  display: flex;
  flex-basis: 584px;
  flex-direction: column;
  gap: 24px;
  padding: 36px 24px 24px 48px;

}

.wrapper-info-hackathon h3{
  box-sizing: border-box;
  font-family: var(--fonteFamilyTitulo);
  font-size: 32px;
  line-height: 32px;
  margin: 0 0 8px;
}

.wrapper-info-hackathon p{
  box-sizing: border-box;
  font-family: var(--fonteFamilyTexto);
  font-size: 16px;
  line-height: 16px;
  margin: 0;
}

.wrapper-titulo-hackathon{
  flex-basis: 56px;
  flex-shrink: 0;
}

.wrapper-titulo-hackathon p{
  color: #49454F;
}

.descricao-hackathon{
  flex-grow: 1;
}

.wrapper-botao{
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  justify-content: flex-end;
  gap: 24px;
}

@media (max-width: 1072px){
  .card-hackathon{
    transform: scale(.95);
  }

  .lista-hackathon{
    gap: 0;
  }
}
@media (max-width: 1008px){
  .card-hackathon{
    transform: scale(.9);
  }
}

@media (max-width: 968px){
  .card-hackathon{
    transform: scale(.85);
  }
}

@media (max-width: 968px){
  .card-hackathon{
    transform: scale(.85);
  }
}

@media (max-width: 888px){
  .card-hackathon{
    transform: scale(.8);
  }
}

@media (max-width: 836px){
  .card-hackathon{
    transform: scale(.75);
  }
}

@media (max-width: 784px){
  .card-hackathon{
    transform: scale(.7);
  }
}

@media (max-width: 744px){
  .secao-titulo-hackathons{
    height: 440px;
  }
  
  .container-titulo h2{
    font-size: 38px;
  }

  .secao-hackathons{
    background-position: center;
    padding: 88px 0 72px;  
  }
  
  .lista-hackathon{
    gap: 56px;
  }
  
  .card-hackathon{
    flex-basis: 512px;
    flex-direction: column;
    transform: scale(1);
    width: 360px;
  }
  
  .imagem-hackathon{
    border-bottom-left-radius: 0;
    border-top-right-radius: 24px;
    flex-basis: 224px;
  }
  
  .wrapper-info-hackathon{
    background-color: #FFFFFF;
    border-bottom-left-radius: 24px;
    border-top-right-radius: 0;
    flex-basis: 288px;
    gap: 16px;
    padding: 26px 24px 24px;
  
  }
  
  .wrapper-info-hackathon h3{
    font-size: 25px;
    line-height: 24px;
    margin: 0 0 8px;
  }
  
  .wrapper-info-hackathon p{
    font-size: 14px;
    line-height: 20px;
  }
  
  .wrapper-titulo-hackathon{
    flex-basis: 48px;
    flex-shrink: 0;
  }
  
  .wrapper-botao{
    gap: 20px;
  }
}

@media (max-width: 430px){
  .secao-titulo-hackathons{
    height: 432px;
  }
  
  .container-titulo p{
    font-size: 14px;
  }
}

@media (max-width: 375px){
  .card-hackathon{
    transform: scale(.88);
  }
}