@import url(../../view/css/global.css);

.secao-programa-formacao{
  align-items: center;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  height: 548px;
  justify-content: center;
  padding: 0 14%;
}

.container-texto{  
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
  gap: 24px;
  justify-content: center;
  text-align: center;
  margin-bottom: 72px;
}

.container-texto h2{  
  font-size: 48px;
}

.container-texto p{  
  font-size: 20px;
  margin: 0 152px;
}

.botao{
  align-items: center;
  display: flex;
  font-family: var(--fonteFamilyTexto);
  font-weight: 700;
  justify-content: center;
  text-decoration: none;

  border-radius: 100px;
  font-size: 16px;
  height: 40px;
  width: 108px;
}

.botao-secundario{
  color: #FFFFFF;
  background-color: #8054F0;
}

@media (max-width: 1024px){
  .secao-programa-formacao{
    align-items: center;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    height: 548px;
    justify-content: center;
    padding: 0 24px;
  }
}

@media (max-width: 744px){
  .container-texto h2{  
    font-size: 38px;
  }

  .container-texto p{  
    margin: 0;
  }
}

@media (max-width: 430px){
  .container-texto{  
    margin-bottom: 56px;
  }

  .container-texto h2{  
    font-size: 32px;
  }
  
  .container-texto p{  
    font-size: 14px;
  }

  .botao{  
    border-radius: 55px;
    font-size: 12px;
    height: 32px;
    width: 90px;
  }
}