@import url(/src/view/css/global.css);

hr {
  width: 92% !important;
  margin: 0 auto !important;
}

h2 {
  font-size: var(--fonteTitulo2);
  font-family: var(--fonteFamilyTitulo);
  line-height: 48px;
}

P {
  font-size: var(--fonteTitulo6);
  font-family: var(--fonteFamilyTexto);
  line-height: 32px;
}

a {
  text-decoration: none;
}

.desabilitado {
  display: none;
}

.secao-superior-home,
.secao-media-home,
.secao-final-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.secao-superior-home {
  height: 455px;
  background-image: url(/src/view/images/bg-home.svg);
  margin-bottom: 40px;
}

.secao-superior-home h3 {
  font-size: var(--fonteTitulo3);
  font-family: var(--fonteFamilyTitulo);
  width: 72%;
  margin: auto;
  text-align: center;
}

.secao-media-home {
  align-items: flex-start;
  margin: 0 70px 0 40%;
  padding: 128px 0 80px 0;
  transition: 0.2s ease;
}

.secao-media-home h2 {
  width: 544px;
  margin-bottom: 40px;
}

.secao-media-home p {
  font-size: var(--fonteTitulo6);
  font-family: var(--fonteFamilyTexto);
  width: 648px;
  line-height: 32px;
  margin-bottom: 54px;
}

/* .secao-media-home a {
  font-size: 17px;
  font-family: var(--fonteFamilyTexto);
  line-height: 21px;
  color: #fff;
  background-color: var(--roxoDiscord);
  border-radius: 120px;
  border: none;
  padding: 10px 19px;
  cursor: pointer;
} */

.secao-media-home a:hover {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.secao-media-home a:active {
  background-color: #9976f3;
}

.secao-final-home {
  position: relative;
  margin: 0 70px;
  padding: 128px 0 104px 0;
}

.secao-final-home h2 {
  margin-bottom: 32px;
  text-align: center;
}

.secao-final-home p {
  width: 532px;
  margin-bottom: 80px;
  text-align: center;
}

.discord-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 68px;
}

.discord-container-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 48px;
  border-right: 2px solid #000;
}

.discord-container-section:last-child {
  border: none;
}

.discord-container-section img {
  margin-bottom: 16px;
}

.discord-container-texto {
  font-size: var(--fonteTitulo6);
  font-family: var(--fonteFamilyTexto);
  line-height: 24px;
  text-align: center;
}

.discord-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--roxoDiscord);
  color: #fff;
  border-radius: 100px;
  padding: 9px 18px;
  cursor: pointer;
}

.discord-btn:hover {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.discord-btn:active {
  background-color: #9976f3;
}

.discord-btn img {
  margin-right: 8px;
}

.btn-up-top {
  position: absolute;
  bottom: 12px;
  right: 0;
}

/* Transição até o IPad */
@media (max-width: 1439px) {
  .secao-media-home {
    margin: 0 70px 0 30%;
  }
}

@media (max-width: 960px) {
  .secao-media-home {
    margin: 0 70px 0 20%;
  }

  .secao-media-home p {
    width: 100%;
  }

  .secao-media-home h2 {
    width: 100%;
  }
}

/* Tamanho IPad */
@media (max-width: 744px) {
  .secao-superior-home h3 {
    font-size: 32px;
  }

  .secao-media-home h2 {
    font-size: 38px;
  }

  .secao-media-home p {
    width: 100%;
  }

  .secao-media-home {
    margin: 0 70px 0 15%;
  }

  .secao-final-home h2 {
    font-size: 38px;
  }

  .discord-container-section {
    padding: 0 32px;
  }

  .discord-container-texto {
    font-size: 15px;
    line-height: 18px;
  }
}

@media (max-width: 640px) {
  .secao-final-home p {
    font-size: 14px;
    width: 100%;
    text-align: center;
  }
}

/* Tamanho mobile */
@media (max-width: 470px) {
  .secao-superior-home h3 {
    font-size: 28px;
    width: 85%;
    text-align: center;
  }
  
  .secao-media-home {
    margin: 0 35px;
    align-items: center;
  }

  .secao-media-home h2 {
    font-size: 32px;
  }

  .secao-media-home p {
    font-size: 14px;
    width: 76%;
  }

  .secao-media-home a {
    padding: 6px 14px;
  }

  .secao-final-home {
    margin: 0 35px;
  }

  .secao-final-home h2 {
    font-size: 32px;
    text-align: center;
  }

  .secao-final-home p {
    font-size: 14px;
    width: 105%;
    text-align: center;
  }

  .discord-container-section {
    padding: 0 24px;
  }

  .discord-container-texto {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }

  .discord-btn {
    padding: 8px 18px;
  }
}
